{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Esta página faz parte como material do curso Inteligência artificial como serviço - Fernando Amaral e Robertson Ebling dos Santos</title>
  </head>
  <body style="background-color: #C9C9C9;">
    <div class="container mt-5 pd-5">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                  <div class="card-body text-center">
                      <h1><small class="text-muted">Esta página é parte do material do curso</small><br>Inteligência artificial como serviço:<br>Hands on com Python</h1>
                      <hr>
                      <h2>
                          <small class="text-muted">Professores:</small><br>
                          <a href="https://www.linkedin.com/in/fernando-amaral/" target="_blank">Fernando Amaral</a> e <a href="https://www.linkedin.com/in/robertson-ebling-dos-santos-44b28916b/" target="_blank">Robertson Ebling dos Santos</a>
                      </h2>
                      <hr>
                      <h5 class="mb-5">O curso é distribuído na plataforma Udemy e você pode acessar clicando no link abaixo:</h5>
                      <a href="https://www.udemy.com/course/inteligencia-artificial-como-servico-com-python/?couponCode=338373F0C873E70A4CEF" target="blank">
                        <div class="alert alert-info">
                            <p>Como entregamos Inteligência Artificial a clientes e parceiros?<br>
                            Através de Serviços!<br>Neste curso você vai aprender a implementar Inteligência Artificial como Serviço (AIaaS) usando Python e Django REST framework.</p>

                            <img src="{% static 'core/img/banner.jpeg' %}" class="w-100" title="Clique aqui para acessar o curso na Udemy!">
                        </div>
                      </a>
                  </div>
                </div>
                <div class="card mt-2 mb-5">
                  <div class="card-body text-center">
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="alert alert-warning">
                                <h1>Atenção!</h1>
                                <ul class="text-left">
                                    <li>Antes de enviar o seu arquivo de teste (Churn_prever.csv), certifique-se que o treinamento tenha sido concluído com o envio do arquivo (Churn_treino.csv). Por isso a sequência Treinamento -> Teste deve ser seguida.</li>
                                    <li>Este recurso está sendo compartilhado com outros alunos do curso, então se na previsão você não informar o seu Model id, correrá o risco de usar o melhor modelo mais recente gerado mesmo que não seja o seu.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <a class="btn btn-lg btn-primary w-100 mb-1" href="https://www.udemy.com/course/inteligencia-artificial-como-servico-com-python/?couponCode=338373F0C873E70A4CEF" target="_blank">
                                Link do curso<br>
                                <small>Com cupom de desconto</small>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <a class="btn btn-lg btn-primary w-100 mb-1" href="{% static 'core/arquivos/arquivos.zip' %}" target="_blank">
                                Download dos arquivos<br>
                                <small>Treinamento e Teste</small>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <a class="btn btn-lg btn-primary w-100 mb-1" href="{% url 'treinar_modelo' %}" target="_blank">
                                Treinamento<br>
                                <small>Link para API de Treinamento</small>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <a class="btn btn-lg btn-primary w-100 mb-1" href="{% url 'prever' %}" target="_blank">
                                Teste/Previsão<br>
                                <small>Link para API de Teste</small>
                            </a>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>